In [19]:
import numpy as np
import pandas as pd
import datetime as dt
import yfinance as yf

In [6]:
start_date = dt.datetime(2018, 10, 5)
end_date   = dt.datetime(2020, 1, 10)

In [15]:
tickers = yf.Tickers('MSFT AAPL GOOG')
# tickers.tickers['MSFT'].info
data = yf.download(['GOOG'], start=start_date, end=end_date, progress=False)

/tmp/ipykernel_4604/2687548721.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(['GOOG'], start=start_date, end=end_date, progress=False)

In [14]:
# data['Adj_Close'].head()
data.head()

Price           Close       High        Low       Open    Volume
Ticker           GOOG       GOOG       GOOG       GOOG      GOOG
Date
2018-10-05  57.525558  58.328286  56.917672  58.030059  23686000
2018-10-08  57.109035  58.054913  56.035116  57.165698  38648000
2018-10-09  56.604534  57.376443  56.542502  56.968866  26174000
2018-10-10  53.741558  56.274006  53.737083  56.219827  53514000
2018-10-11  53.647118  54.993117  53.097884  53.330002  58980000

In [16]:
data = yf.download(['CAD=X'], start=start_date, end=end_date, progress=False)

/tmp/ipykernel_4604/933316366.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(['CAD=X'], start=start_date, end=end_date, progress=False)

In [17]:
data.head()

Price         Close     High      Low     Open Volume
Ticker        CAD=X    CAD=X    CAD=X    CAD=X  CAD=X
Date
2018-10-05  1.29200  1.29542  1.29057  1.29205      0
2018-10-08  1.29480  1.30100  1.29420  1.29482      0
2018-10-09  1.29540  1.30024  1.29500  1.29540      0
2018-10-10  1.29380  1.29934  1.29250  1.29397      0
2018-10-11  1.30509  1.30701  1.30260  1.30506      0

In [35]:
ticker = yf.Ticker('SCHD')
ticker.splits

Date
2024-10-11 00:00:00-04:00    3.0
Name: Stock Splits, dtype: float64

In [ ]:
start_date = dt.datetime(2018, 10, 5)
end_date   = dt.datetime(2020, 1, 10)
data = yf.download(['SCHD'], start=start_date, end=end_date, progress=False, actions=True)
data.head()

/tmp/ipykernel_4604/120355568.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(['^GSPC'], start=start_date, end=end_date, progress=False, actions=True)

Price,Close,Dividends,High,Low,Open,Stock Splits,Volume
Ticker,^GSPC,^GSPC,^GSPC,^GSPC,^GSPC,^GSPC,^GSPC
Date,,,,,,,
2024-01-02,4742.830078,0.0,4754.330078,4722.669922,4745.200195,0.0,3743050000
2024-01-03,4704.810059,0.0,4729.290039,4699.709961,4725.069824,0.0,3950760000
2024-01-04,4688.680176,0.0,4726.779785,4687.529785,4697.419922,0.0,3715480000
2024-01-05,4697.240234,0.0,4721.490234,4682.109863,4690.569824,0.0,3844370000
2024-01-08,4763.540039,0.0,4764.540039,4699.819824,4703.700195,0.0,3742320000

In [24]:
start_date = dt.datetime(2024, 1, 1)
end_date   = dt.datetime(2024, 1, 31)

weekdays = pd.bdate_range(start=start_date, end=end_date)
print(weekdays)
print(type(weekdays))
print(type(weekdays[0]))

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-08', '2024-01-09', '2024-01-10',
               '2024-01-11', '2024-01-12', '2024-01-15', '2024-01-16',
               '2024-01-17', '2024-01-18', '2024-01-19', '2024-01-22',
               '2024-01-23', '2024-01-24', '2024-01-25', '2024-01-26',
               '2024-01-29', '2024-01-30', '2024-01-31'],
              dtype='datetime64[ns]', freq='B')
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [33]:
# yf.Ticker('GOOG').info['longName']
print(yf.Ticker('GOOG').info['currency'])
# yf.Ticker('VFV.TO').info['financialCurrency']
print(yf.Ticker('VFV.TO').info['currency'])

USD
CAD

In [66]:
df = pd.read_csv('transaction-files/test-history.csv', skiprows=1)[['date', 'security', 'action', 'quantity', 'currency', 'total']]

In [49]:
df.head()

         date security   action  quantity currency    total
0  07/09/2021     Cash  Deposit       1.0      CAD  1000.00
1  07/12/2021  TSE:ZWC      Buy      25.0      CAD   456.84
2  07/12/2021  TSE:VDY      Buy      12.0      CAD   483.64
3  07/12/2021     Cash  Deposit       1.0      CAD  1000.00
4  07/12/2021     Cash  Deposit       1.0      CAD   750.00

In [ ]:
# type(df['date'][0])
test = df['date'][0]
pd.to_datetime(test, format='%m/%d/%Y')

Timestamp('2021-09-07 00:00:00')

In [67]:
df['date'] = pd.to_datetime(df['date'], format='%m/%d/%Y')

In [60]:
df

          date security    action  quantity currency    total
0   2021-07-09     Cash   Deposit       1.0      CAD  1000.00
1   2021-07-12  TSE:ZWC       Buy      25.0      CAD   456.84
2   2021-07-12  TSE:VDY       Buy      12.0      CAD   483.64
3   2021-07-12     Cash   Deposit       1.0      CAD  1000.00
4   2021-07-12     Cash   Deposit       1.0      CAD   750.00
..         ...      ...       ...       ...      ...      ...
465 2024-12-12     MSFT  Dividend       0.0      USD     4.24
466 2024-12-13  TSE:VFV       Buy       1.0      CAD   153.36
467 2024-12-20      VGT  Dividend       0.0      USD     2.65
468 2024-12-27     META  Dividend       0.0      USD     1.28
469 2024-12-27     QQQM  Dividend       0.0      USD    10.82

[470 rows x 6 columns]

In [88]:
test = dt.datetime(2021,7,12)
test_range = df[df['date'] == test]
for i, transaction in test_range.iterrows():
    print (transaction['security'])

TSE:ZWC
TSE:VDY
Cash
Cash
Cash
Cash
Cash

In [95]:
from pandas.tseries.offsets import BDay
# df.index = df.index.map(lambda x : x + 0*BDay())
test = dt.datetime(2025,8,23)
test + 0*BDay()

Timestamp('2025-08-25 00:00:00')

In [96]:
df.head(20)

         date security   action  quantity currency    total
0  2021-07-09     Cash  Deposit       1.0      CAD  1000.00
1  2021-07-12  TSE:ZWC      Buy      25.0      CAD   456.84
2  2021-07-12  TSE:VDY      Buy      12.0      CAD   483.64
3  2021-07-12     Cash  Deposit       1.0      CAD  1000.00
4  2021-07-12     Cash  Deposit       1.0      CAD   750.00
5  2021-07-12     Cash  FX Sell      -1.0      CAD  1000.00
6  2021-07-12     Cash   FX Buy       1.0      USD   789.83
7  2021-07-12     Cash  Deposit       1.0      CAD   250.00
8  2021-07-13     AAPL      Buy       5.0      USD   741.70
9  2021-07-13     REVS      Buy       2.0      USD    40.68
10 2021-07-13     Cash  FX Sell      -1.0      CAD   809.00
11 2021-07-13     Cash   FX Buy       1.0      USD   635.96
12 2021-07-14      LMT      Buy       1.0      USD   382.00
13 2021-07-14     Cash   Rebate       1.0      CAD    11.54
14 2021-07-14  TSE:POW      Buy       5.0      CAD   195.25
15 2021-07-15    TCEHY      Buy       3.0      USD   221.79
16 2021-07-16     Cash  Deposit       1.0      CAD   200.00
17 2021-07-16     NCLH      Buy       4.0      CAD   121.12
18 2021-07-18     NCLH     Sell      -4.0      CAD   120.48
19 2021-07-19     Cash  Deposit       1.0      CAD    50.00

In [97]:
df['date'] = df['date'] + 0*BDay()

In [98]:
df.head(20)

         date security   action  quantity currency    total
0  2021-07-09     Cash  Deposit       1.0      CAD  1000.00
1  2021-07-12  TSE:ZWC      Buy      25.0      CAD   456.84
2  2021-07-12  TSE:VDY      Buy      12.0      CAD   483.64
3  2021-07-12     Cash  Deposit       1.0      CAD  1000.00
4  2021-07-12     Cash  Deposit       1.0      CAD   750.00
5  2021-07-12     Cash  FX Sell      -1.0      CAD  1000.00
6  2021-07-12     Cash   FX Buy       1.0      USD   789.83
7  2021-07-12     Cash  Deposit       1.0      CAD   250.00
8  2021-07-13     AAPL      Buy       5.0      USD   741.70
9  2021-07-13     REVS      Buy       2.0      USD    40.68
10 2021-07-13     Cash  FX Sell      -1.0      CAD   809.00
11 2021-07-13     Cash   FX Buy       1.0      USD   635.96
12 2021-07-14      LMT      Buy       1.0      USD   382.00
13 2021-07-14     Cash   Rebate       1.0      CAD    11.54
14 2021-07-14  TSE:POW      Buy       5.0      CAD   195.25
15 2021-07-15    TCEHY      Buy       3.0      USD   221.79
16 2021-07-16     Cash  Deposit       1.0      CAD   200.00
17 2021-07-16     NCLH      Buy       4.0      CAD   121.12
18 2021-07-19     NCLH     Sell      -4.0      CAD   120.48
19 2021-07-19     Cash  Deposit       1.0      CAD    50.00

In [105]:
def silly(date):
    '''
    Returns an itterable of the transactions from the
    transaction history on a given date
    '''
    transactions_on_date = df[df['date'] == date]
    return transactions_on_date.iterrows()

In [106]:
for i, transaction in silly(dt.datetime(2021,7,12)):
    print (transaction['security'])

TSE:ZWC
TSE:VDY
Cash
Cash
Cash
Cash
Cash

In [109]:
ticker = yf.Ticker('AAPL')
splits = ticker.splits

In [112]:
prod_splits = splits.iloc[::-1].cumprod().iloc[::-1]
prod_splits

Date
1987-06-16 00:00:00-04:00    224.0
2000-06-21 00:00:00-04:00    112.0
2005-02-28 00:00:00-05:00     56.0
2014-06-09 00:00:00-04:00     28.0
2020-08-31 00:00:00-04:00      4.0
Name: Stock Splits, dtype: float64

In [ ]:
data = yf.download(['GOOG', 'CAD=X'], start=start_date, end=end_date, progress=False)
# data.reset_index(inplace=True)
data.head()

/tmp/ipykernel_4604/268210304.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(['GOOG', 'CAD=X'], start=start_date, end=end_date, progress=False)

Price         Close                 High                  Low              \
Ticker        CAD=X        GOOG    CAD=X        GOOG    CAD=X        GOOG
Date
2024-01-01  1.32392         NaN  1.32490         NaN  1.32392         NaN
2024-01-02  1.32420  138.735321  1.33270  139.784095  1.32286  136.926084
2024-01-03  1.33220  139.530609  1.33658  140.256291  1.33160  137.612006
2024-01-04  1.33477  137.224289  1.33646  139.803956  1.33170  137.194467
2024-01-05  1.33550  136.578156  1.33977  137.989763  1.32888  136.041353

Price          Open             Volume
Ticker        CAD=X        GOOG  CAD=X        GOOG
Date
2024-01-01  1.32392         NaN      0         NaN
2024-01-02  1.32420  138.775093      0  20071900.0
2024-01-03  1.33220  137.781014      0  18974300.0
2024-01-04  1.33477  139.023606      0  18253300.0
2024-01-05  1.33550  137.534477      0  15439500.0